torch>=1.1.0
setigen~=2.7.0
numpy~=2.2.5
matplotlib
tqdm~=4.67.1
pywavelets~=1.8.0
torchinfo~=1.8.0
pandas~=2.2.3
astropy~=7.0.0
scipy~=1.15.3
torchmetrics~=1.2.1
requests~=2.32.4
h5py~=3.14.0
blimpy~=2.1.4